<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Node JS Server Response</title>
  </head>
  <body>
    <%-include("navbar")%>
    <h1>
      This is a response from the server, and this text is wrapped inside a H1
      tag. Welcome to <%=platform%>
    </h1>

    <form method="POST">
      <label for="name">
        Name:
        <input type="text" id="name" />
      </label>
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
